.image-1 {
	background-image: url('img/annie-spratt-197448-2.jpg');
}

.image-2 {
	background-image: url('img/giulia-bertelli-94303.jpg');
}

.image-3 {
	background-image: url('img/giulia-bertelli-140548.jpg');
}

.image-4 {
	background-image: url('img/giulia-bertelli-170653.jpg');
}

.image-5 {
	background-image: url('img/giulia-bertelli-272744.jpg');
}