body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-size: calc(14px + 0.1vw);
	min-width: 560px;
	color: #536b8c;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	margin: 1em 0 1em;
}

h2 + p {
	margin-top: 0;
}

a,
h2 {
	color: #ac6dcc;
}

header h1 {
	font-family: 'Amatic SC', cursive;
	position: relative;
	display: inline-block;
	top: 12vw;
	font-size: 4em;
	width: 9em;
	z-index: 1;
	text-shadow: 3px 3px #252321, 0 0 1px #252321, 4px 1px 45px rgba(0, 0, 0, 0.25);
}

header .container {
	padding-top: 0;
	padding-bottom: 0;
}

header.image-block {
	height: calc(140px + 20vw);
	color: white;
	text-align: center;
}

.image-block {
	height: calc(300px + 5vw);
	position: relative;
	overflow: hidden;
	/* background-color: #3f3b52; */
	/* background-color: #907b88; */
}

.image {
	background-size: cover;
	background-position: center center;
	position: absolute;
	top: -50%;
	left: 0;
	right: 0;
	bottom: -50%;
}

section {
	overflow: hidden;
}

section.alt {
	background-color: #f6f9fc;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 50vw;
	min-width: 500px;
	padding: calc(30px + 4vw) 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.container.right {
	text-align: right;
}

.container.center,
p.center {
	text-align: center;
}

.container.center p {
	width: 90%;
}

.container.full p {
	width: 100%;
}

p {
	display: inline-block;
	text-align: left;
	width: 60%;
	min-width: 500px;
	font-size: 1.1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
	margin: 1em 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.separator {
	display: block;
	width: 100%;
	height: calc(50px + 1vw);
	margin: calc(-50px - 0.5vw) 0 calc(-49px - 1vw);
	fill: white;
	position: relative;
	z-index: 1;
}

.separator.bottom {
	margin: calc(-49px - 1vw) 0 calc(-50px - 0.5vw);
}

.separator.dark {
	margin: 0;
	fill: #26282b;
}

.separator.alt {
	fill: #f6f9fc;
}

img.contact {
	margin-bottom: 0.5vw;
	width: calc(80px + 2vw);
	height: calc(80px + 2vw);
	border-radius: 50%;
}

/* Temporary hide */
.media-list {
	max-height: calc(250px + 5vw);
	overflow: auto;
	padding: 1em;
}

.media-item {
	width: 60%;
	min-width: 500px;
	border-bottom: 1px solid #ccd1d8;
    display: inline-block;
    margin-bottom: 2em;
    padding-bottom: 1em;
}

.media-item:last-child {
	border-bottom: none;
}

.media-item p {
	width: 100%;
	min-width: 0;
}

.letter-item h1,
.media-item h1 {
	text-align: left;
    font-size: 1em;
    text-transform: uppercase;
}

.letter-item img {
	max-width: 20vw;
    float: left;
}

.media-item img {
	max-width: 100%;
}

footer {
	background-color: #313a48;
}

footer h2,
footer p {
	color: #7f8998;
}

.line {
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	height: calc(120px + 2vw);
    width: calc(500px + 8vw);
	pointer-events: none;
	opacity: 0.25;
    top: 50%;
    -webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: calc(-600px + 4vw);
}

.line.right {
	left: auto;
	right: calc(-600px + 4vw);
}

.line-1 {
	background-image: url('img/lines/line-1.png');
}

.line-2 {
	background-image: url('img/lines/line-2.png');
}

.line-3 {
	background-image: url('img/lines/line-3.png');
}

.line-4 {
	background-image: url('img/lines/line-4.png');
}